body {
  font-family: "Roboto", sans-serif;
  color: #434455; 
  background-color: #ffffff;
margin: 0;}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-------наигация------*/
.header {
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex; align-items: center;}

  .main-nav { display: flex;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
align-items: center;}

  .nav-list {gap: 40px;
    display: flex;
    
  }
.main-nav .logo {margin-right: 76px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase ;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;

}

.main-nav .logo .studio {
  color: #2e2f42;
}

.link {display: block;
  padding-top: 24px;
padding-bottom: 24px;
font-weight: 500;
line-height: 150%;
 letter-spacing: 0.02em;
 color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.main-nav .link:hover,
.main-nav .link:focus {
  color: #404bbf;
}

.blue {position: relative;
color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.blue::after {content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {margin-left: auto;}
.contacts-list {display: flex; gap: 40px;
}

  .header { font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #e7e9fc;
  }
  .header:hover, .header:focus {
    color: #404bbf;
  }

    /*-------контакты------*/
.contacts { font-style: normal;
  }
  .contacts:hover, .contacts:focus {
    color: #404bbf;
  }
.address {line-height: 150%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
font-weight: 400;
  font-size: 16px;}
  .address:hover, .address:focus {
    color: #404bbf;
  }

/*-------главный блок перая секция------*/
  .main-section {background-color: #2e2f42;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
  url(../images/people-office.jpg);
  max-width: 1440px;
 background-repeat: no-repeat;
 background-position: center;
  background-size: cover;
 margin: 0 auto;
padding: 188px 0}

   .main-title {max-width: 496px;
    margin: 0 auto 48px auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}

  .main-button {font-family: "Roboto", sans-serif;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
  background-color: #4D5AE5; 
  border: none; 
  border-radius: 4px;
  padding: 16px 32px;
min-width: 169px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) }

  .main-button:hover,
  .main-button:focus {background-color: #404BBF;
  cursor: pointer;}

    /*-------вторая секция------*/

    .main-section-feature {min-width: 1440px;
      padding-top: 120px;
      padding-bottom: 120px;}

       .visually-hidden {position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;}

    .main-feature-list {display: flex;
      gap: 24px;}

      .main-list { width: calc((100% - 72px) / 4);}

      .icon-strategy {margin-bottom: 8px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      /*.icon {box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);}*/

    .main-feature-subtitle 
    {font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.02em;
      color: #2e2f42;
      margin-bottom: 8px;}

   .main-feature-lead {font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;}

      /*-------третья секция------*/
    .main-section-team {background-color: #f4f4fd;
      padding-top: 120px;
      padding-bottom: 120px;
    min-width: 1440px;}

      .main-team {font-size: 36px; 
        line-height: 1.11;
          margin-bottom: 72px;
          letter-spacing: 0.02em;
          text-align: center;
          text-transform: capitalize;
          color: #2e2f42;
        }

    .team-card {padding: 32px 0;
  }
          
.list {display: flex;
gap: 24px;}

.main-team-list {background-color: #FFFFFF;
        border-radius: 0 0 4px 4px;
        width: calc((100% - 3 * 24px) / 4);
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);}
     
      .main-team-subtitle {font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;}

        .main-team-lead { font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0.02em;
          text-align: center;
          color: #434455;
        margin-bottom: 8px}

    .main-section-team .icon-list {display: flex;
    gap: 24px;
    list-style: none;
      margin: 0;
      padding: 0;
  justify-content: center;
    align-items: center;}

      .main-icon-item {
      width: 40px;
      height: 40px;
    }

    .social-icon {
      width: 40px;
      height: 40px; 
      background-color: #4d5ae5;
      border-radius: 50%;
     text-align: center;
     display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

    .social-icon:hover,
    .social-icon:focus {background-color: #404bbf; }

      .icons-social {fill: #f4f4fd; }


        .taste-img {}
      /*-------четвертая секция------*/

   .main-portfolio {padding-top: 120px;
        padding-bottom: 120px;
      min-width: 1440px;}

   .main-portfolio-title {font-size: 36px;
      
            line-height: 111%;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            text-transform: capitalize;
          margin-bottom: 72px;}

    .main-portfolio-listing {display: flex;
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 48px;
     }

  .main-portfolio-list {transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   width: calc((100% - 48px) / 3);}

     .main-portfolio-list:hover { box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    
      .main-portfolio-list:hover .portfolio-desc {
     transform: translateY(0%);}

     .image-container {position: relative;
      overflow: hidden;}

  .applications {padding: 32px 16px;
     border: 1px solid #e7e9fc;
  border-top: none;
position: relative;
overflow: hidden;} 

  .main-portfolio-subtitle {font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;}

            :root {
  --text-light: #f4f4fd;
}

.portfolio-desc {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-light);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-portfolio-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
  }

.main-portfolio-list:hover .portfolio-desc {
  transform: translateY(0%);}


    /*-------футер------*/

      .footer { background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
    }
      .footer .container {display: flex;
        align-items: baseline
        }

        .footer-text {margin-bottom: 16px;
        font-weight: 500;
      font-size: 16px;
    line-height: 1.5;
  letter-spacing: 0.02em;
color: #ffffff;}

.footer-form {display: flex;
  gap: 24px;
}


.modal-input-footer {width: 264px;
height: 40px;
border: 1px solid #ffffff;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;
}

.modal-input-footer::placeholder {color: #ffffff;}

.footer-submit-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}

.footer-submit-icon {
  margin-left: 16px;
  fill: #ffffff;
}

        .footer-decor { 
          margin-right: 120px

        }
      .footer-logo {display: inline-block;
        margin-bottom: 16px;
        font-weight: 700;
          font-size: 18px;
          line-height: 1.17;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          font-family: "Raleway", sans-serif;
          color: #4d5ae5;
      }

       .footer-logo .footer-studio {
         color: #f4f4fd;
        }

    .footer-lead {max-width: 264px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #f4f4fd;}
 
      .footer-contacts {
        gap: 40px;
      }

     .social-media {font-weight: 500;
    font-size: 16px;
  line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;}

      .icon-list {display: flex;
        gap: 16px;}
      
      .footer-icon-item {width: 40px;
      height: 40px;
    }

    .footer-social-icon {width: 100%;
      height: 100%;
      background-color: #4d5ae5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .footer-social-icon:focus,
    .footer-social-icon:hover {background-color: #31d0aa;}


    /*-------модальное окно------*/

    .backdrop {position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(46, 47, 66, 0.4);
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .is-open {opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .modal {width: 408px;
      min-height: 584px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
      border-radius: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 72px 24px 24px 24px;;
      transform: translate(-50%, -50%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .modal-close-btn {position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        padding: 0;
        background-color: #e7e9fc;
        color: #2e2f42;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .modal-close-btn:hover,
      .modal-close-btn:focus {background-color: #404bbf;
        border: none;
        }

       .modal-close-btn:hover .icon-close,
       .modal-close-btn:focus .icon-close {
       fill: #ffffff;}

      .icon-close {
     
        fill: #2e2f42;
        position: absolute;
        stroke: #2e2f42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .icon-close:hover,
      .icon-close:focus {fill: #f4f4fd;}
      
      .modal-title {font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-top: 48px;
        margin-bottom: 16px;
      }

      .modal-input {width: 100%;
     border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 360px;
height: 40px;
padding-left: 38px;
padding-right: 16px;
outline: transparent;
transition: 0.3s border-color ease-in-out;
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {border: 1px solid #4d5ae5;}

.modal-input:focus + .input-icon {stroke: #404bbf;
  fill: #4D5AE5;}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;}

  .modal-icon {margin-bottom: 8px;}

  .input-icon {left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    position: absolute;
      stroke: #2e2f42;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
  }

.user-icon { position: relative;
  
}

.modal-textarea {width: 100%;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  transition: 0.3s border-color ease-in-out;
resize: none;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-textarea:focus {border-color:#4d5ae5;}

.modal-icon-checkbox {margin-bottom: 24px;}

.modal-label-checkbox {font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;}

.modal-label-checkbox a {line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;}

  .modal-label-box {
    display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      fill: transparent;
      background-color: transparent;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border: 1px solid rgba(46, 47, 66, 0.4);
      margin-right: 8px;}

    .modal-checkbox:checked+.modal-label-checkbox .modal-label-box {
      fill: #f4f4fd;
      background-color: #404bbf;
      border: none;
     }

:root {
  --text-light: #f4f4fd;
  --link-color: #4d5ae5;
}

.modal-text {
  color: var(--link-color);
line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;}

.modal-button {border: none; 
  position: relative;
    left: auto;
    transform: none;
    margin: 24px auto 0 auto;
  display: block;
  min-width: 169px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
background-color: #4d5ae5;
border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 }

 .modal-button:hover,
 .modal-button:focus {
   background-color: #404bbf;}

 .checkbox-container {margin-bottom: 16px}